@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    height: 100hv;
    position: relative;
}
.container{
    width: 600px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    margin-top: 50px;
}
.grid {
  position: absolute;  
  top: 50px;
  background-color: #fff; 
  border-radius: 15px; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  overflow: hidden;
}
.grid .img img{
    max-width: 100%;
    width: 300px;
}
.grid .card-content{
    padding: 25px;
}
.grid .card-content h6{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    padding-bottom: 20px;
}
.grid .card-content h2{
    font-family: 'Fraunces', serif;
    font-size: 34px;
    line-height: 1;
    color: hsl(212, 21%, 14%);
    padding-bottom: 30px;
}
.grid .card-content .des{
    color: hsl(228, 12%, 48%);
    line-height: 1.6;
    padding-bottom: 30px;
}
.grid .card-content .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 30px;
}
.grid .card-content .price .current-price{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 25px;
    font-weight: 700;
}
.grid .card-content .price .old-price{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    position: absolute;
    right: 70px;
}
.grid .cta{
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    border: none;
    padding: 14px 0;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3sec ease;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
button.cta:hover{
    background-color: hsl(158, 36%, 23%);
}
button.cta img{
    padding-right: 15px;
}

@media (max-width: 767px){
   
    .grid{
        grid-template-columns: 1fr;
    }
    .grid .img img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .grid .card-content .des{
        font-size: 25px;
    }
    .grid .card-content h6{
        font-size: 20px;
    }
    .grid .card-content h2{
        font-size: 60px;
    }
    .grid .card-content .price .current-price{
        font-size: 60px;
    }
    .grid .card-content .price .old-price{
        font-size: 25px;
        right: 35%;
    }
    .grid .cta{
        padding: 25px;
        font-size: 25px;
    }
    button.cta img{
        width: 40px;
    }
}
